{% extends 'base.html' %}
{% load static %}

{% block title %} Ключевые слова в Python {% endblock %}

{% block content %}
<p>Сегодня я по-быстрому пробегусь по всем ключевым словам в Python, а заодно и по модулю keyword.</p>
  <div class="section" id="section-1">
    <h2>Ключевые слова</h2>
    <p><b>False</b> - ложь.</p>
    <p><b>True</b> - правда.</p>
    <p><b>None</b> - "пустой" объект.</p>
    <p><b>and</b> - логическое И.</p>
    <p><b>with / as</b> - <a href="{% url '404' %}"
        target="_blank">менеджер контекста</a>.</p>
    <p><b>assert</b> условие - возбуждает исключение, если условие ложно.</p>
    <p><b>break</b> - выход из цикла.</p>
    <p><b>class</b> - <a
        href="{% url '404' %}"
        target="_blank">пользовательский тип</a>, состоящий из методов и атрибутов.</p>
    <p><b>continue</b> - переход на следующую итерацию цикла.</p>
    <p><b>def</b> - определение <a
        href="{% url 'seventh' %}"
        target="_blank">функции</a>.</p>
    <p><b>del</b> - удаление объекта.</p>
    <p><b>elif</b> - в противном случае, если.</p>
    <p><b>else</b> - см. <a
        href="{% url 'fifth' %}"
        target="_blank">for/else</a> или <a
        href="{% url 'fourth' %}"
        target="_blank">if/else</a>.</p>
    <p><b>except</b> - перехватить исключение.</p>
    <p><b>finally</b> - вкупе с инструкцией try, выполняет инструкции независимо от того, было ли исключение или нет.
    </p>
    <p><b>for</b> - цикл for.</p>
    <p><b>from</b> - импорт нескольких функций из модуля.</p>
    <p><b>global</b> - позволяет сделать значение переменной, присвоенное ей внутри функции, доступным и за пределами
      этой функции.</p>
    <p><b>if</b> - <a
        href="{% url 'fourth' %}"
        target="_blank">если</a>.</p>
    <p><b>import</b> - импорт модуля.</p>
    <p><b>in</b> - проверка на вхождение.</p>
    <p><b>is</b> - ссылаются ли 2 объекта на одно и то же место в памяти.</p>
    <p><b>lambda</b> - определение анонимной функции.</p>
    <p><b>nonlocal</b> - позволяет сделать значение переменной, присвоенное ей внутри функции, доступным в объемлющей
      инструкции.</p>
    <p><b>not</b> - логическое НЕ.</p>
    <p><b>or</b> - логическое ИЛИ.</p>
    <p><b>pass</b> - ничего не делающая конструкция.</p>
    <p><b>raise</b> - возбудить исключение.</p>
    <p><b>return</b> - вернуть результат.</p>
    <p><b>try</b> - выполнить инструкции, перехватывая <a
        href="{% url '404' %}"
        target="_blank">исключения</a>.</p>
    <p><b>while</b> - <a
        href="{% url 'fifth' %}"
        target="_blank">цикл</a> while.</p>
    <p><b>yield</b> - определение функции-генератора.</p>
  </div>
  <div class="section" id="keyword-1">
    <h2>Модуль keyword</h2>
    <p>В общем-то, keyword - не такой уж и модуль, но все же.</p>
    <p><b>keyword.kwlist</b> - список всех доступных ключевых слов.</p>
    <p><b>keyword.iskeyword(строка)</b> - является ли строка ключевым словом.</p>
  </div>
{% endblock %}