{% extends 'base.html' %}
{% load static %}

{% block title %} Функции в Python {% endblock %}

{% block content %}
<p>Краткий обзор встроенных функций в Python 3.</p>
<div class="section" id="section-2">
  <h2>Встроенные функции, выполняющие преобразование типов</h2>
  <p><b>bool</b>(x) - преобразование к типу bool, использующая стандартную процедуру <a
      href="{% url 'fourth' %}"
      target="_blank">проверки истинности</a>. Если х является ложным или опущен, возвращает значение False, в
    противном случае она возвращает True.</p>
  <p><b>bytearray</b>([источник [, кодировка [ошибки]]]) - преобразование к <a
      href="{% url '404' %}"
      target="_blank">bytearray</a>. Bytearray - изменяемая последовательность целых чисел в диапазоне 0≤X&lt;256.
    Вызванная без аргументов, возвращает пустой массив байт.</p>
  <p><b>bytes</b>([источник [, кодировка [ошибки]]]) - возвращает объект типа <a
      href="{% url '404' %}" target="_blank">bytes</a>,
    который является неизменяемой последовательностью целых чисел в диапазоне 0≤X&lt;256. Аргументы конструктора
    интерпретируются как для bytearray().</p>
  <p><b>complex</b>([real[, imag]]) - преобразование к <a
      href="{% url 'eighth' %}#complex"
      target="_blank">комплексному числу</a>.</p>
  <p><b>dict</b>([object]) - преобразование к <a
      href="{% url 'twelveth' %}"
      target="_blank">словарю</a>.</p>
  <p><b>float</b>([X]) - преобразование к <a
      href="{% url 'eighth' %}#float" target="_blank">числу с
      плавающей точкой</a>. Если аргумент не указан, возвращается 0.0.</p>
  <p><b>frozenset</b>([последовательность]) - возвращает <a
      href="{% url 'thirteenth' %}#frozenset"
      target="_blank">неизменяемое множество</a>.</p>
  <p><b>int</b>([object], [основание системы счисления]) - преобразование к <a
      href="{% url 'eighth' %}#int" target="_blank">целому
      числу</a>.</p>
  <p><b>list</b>([object]) - создает <a
      href="{% url 'nineth' %}"
      target="_blank">список</a>.</p>
  <p><b>memoryview</b>([object]) - создает объект memoryview.</p>
  <p><b>object</b>() - возвращает безликий объект, являющийся базовым для всех объектов.</p>
  <p><b>range</b>([start=0], stop, [step=1]) - арифметическая прогрессия от start до stop с шагом step.</p>
  <p><b>set</b>([object]) - создает <a
      href="{% url 'thirteenth' %}" target="_blank">множество</a>.
  </p>
  <p><b>slice</b>([start=0], stop, [step=1]) - объект среза от start до stop с шагом step.</p>
  <p><b>str</b>([object], [кодировка], [ошибки]) - строковое представление объекта. Использует метод __str__.</p>
  <p><b>tuple</b>(obj) - преобразование к <a href="{% url 'eleventh' %}"
      target="_blank">кортежу</a>.</p>
</div>
<div class="section" id="section-3">
  <h2>Другие встроенные функции</h2>
  <p><b>abs</b>(x) - Возвращает абсолютную величину (модуль числа).</p>
  <p><b>all</b>(последовательность) - Возвращает True, если все элементы истинные (или, если последовательность
    пуста).</p>
  <p><b>any</b>(последовательность) - Возвращает True, если хотя бы один элемент - истина. Для пустой
    последовательности возвращает False.</p>
  <p><b>ascii</b>(object) - Как repr(), возвращает строку, содержащую представление объекта, но заменяет не-ASCII
    символы на экранированные последовательности.</p>
  <p><b>bin</b>(x) - Преобразование целого числа в двоичную строку.</p>
  <p><b>callable</b>(x) - Возвращает True для объекта, поддерживающего вызов (как функции).</p>
  <p><b>chr</b>(x) - Возвращает односимвольную строку, код символа которой равен x.</p>
  <p><b>classmethod</b>(x) - Представляет указанную функцию методом класса.</p>
  <p><b>compile</b>(source, filename, mode, flags=0, dont_inherit=False) - Компиляция в программный код, который
    впоследствии может выполниться функцией eval или exec. Строка не должна содержать символов возврата каретки или
    нулевые байты.</p>
  <p><b>delattr</b>(object, name) - Удаляет атрибут с именем 'name'.</p>
  <p><b>dir</b>([object]) - Список имен объекта, а если объект не указан, список имен в текущей локальной области
    видимости.</p>
  <p><b>divmod</b>(a, b) - Возвращает частное и остаток от деления a на b.</p>
  <p><b>enumerate</b>(iterable, start=0) - Возвращает итератор, при каждом проходе предоставляющем кортеж из номера и
    соответствующего члена последовательности.</p>
  <p><b>eval</b>(expression, globals=None, locals=None) - Выполняет строку программного кода.</p>
  <p><b>exec</b>(object[, globals[, locals]]) - Выполняет программный код на Python.</p>
  <p><b>filter</b>(function, iterable) - Возвращает итератор из тех элементов, для которых function возвращает истину.
  </p>
  <p><b>format</b>(value[,format_spec]) - Форматирование (обычно <a
      href="{% url '404' %}" target="_blank">форматирование
      строки</a>).</p>
  <p><b>getattr</b>(object, name ,[default]) - извлекает атрибут объекта или default.</p>
  <p><b>globals</b>() - Словарь глобальных имен.</p>
  <p><b>hasattr</b>(object, name) - Имеет ли объект атрибут с именем 'name'.</p>
  <p><b>hash</b>(x) - Возвращает хеш указанного объекта.</p>
  <p><b>help</b>([object]) - Вызов встроенной справочной системы.</p>
  <p><b>hex</b>(х) - Преобразование целого числа в шестнадцатеричную строку.</p>
  <p><b>id</b>(object) - Возвращает "адрес" объекта. Это целое число, которое гарантированно будет уникальным и
    постоянным для данного объекта в течение срока его существования.</p>
  <p><b>input</b>([prompt]) - Возвращает введенную пользователем строку. Prompt - подсказка пользователю.</p>
  <p><b>isinstance</b>(object, ClassInfo) - Истина, если объект является экземпляром ClassInfo или его подклассом.
    Если объект не является объектом данного типа, функция всегда возвращает ложь.</p>
  <p><b>issubclass</b>(класс, ClassInfo) - Истина, если класс является подклассом ClassInfo. Класс считается
    подклассом себя.</p>
  <p><b>iter</b>(x) - Возвращает объект итератора.</p>
  <p><b>len</b>(x) - Возвращает число элементов в указанном объекте.</p>
  <p><b>locals</b>() - Словарь локальных имен.</p>
  <p><b>map</b>(function, iterator) - Итератор, получившийся после применения к каждому элементу последовательности
    функции function.</p>
  <p><b>max</b>(iter, [args ...] * [, key]) - Максимальный элемент последовательности.</p>
  <p><b>min</b>(iter, [args ...] * [, key]) - Минимальный элемент последовательности.</p>
  <p><b>next</b>(x) - Возвращает следующий элемент итератора.</p>
  <p><b>oct</b>(х) - Преобразование целого числа в восьмеричную строку.</p>
  <p><b>open</b>(file, mode='r', buffering=None, encoding=None, errors=None, newline=None, closefd=True) - Открывает
    файл и возвращает соответствующий поток.</p>
  <p><b>ord</b>(с) - Код символа.</p>
  <p><b>pow</b>(x, y[, r]) - ( x ** y ) % r.</p>
  <p><b>reversed</b>(object) - Итератор из развернутого объекта.</p>
  <p><b>repr</b>(obj) - Представление объекта.</p>
  <p><b>print</b>([object, ...], *, sep=" ", end='\n', file=sys.stdout) - Печать.</p>
  <p><b>property</b>(fget=None, fset=None, fdel=None, doc=None)</p>
  <p><b>round</b>(X [, N]) - Округление до N знаков после запятой.</p>
  <p><b>setattr</b>(объект, имя, значение) - Устанавливает атрибут объекта.</p>
  <p><b>sorted</b>(iterable[, key][, reverse]) - Отсортированный список.</p>
  <p><b>staticmethod</b>(function) - Статический метод для функции.</p>
  <p><b>sum</b>(iter, start=0) - Сумма членов последовательности.</p>
  <p><b>super</b>([тип [, объект или тип]]) - Доступ к родительскому классу.</p>
  <p><b>type</b>(object) - Возвращает тип объекта.</p>
  <p><b>type</b>(name, bases, dict) - Возвращает новый экземпляр класса name.</p>
  <p><b>vars</b>([object]) - Словарь из атрибутов объекта. По умолчанию - словарь локальных имен.</p>
  <p><b>zip</b>(*iters) - Итератор, возвращающий кортежи, состоящие из соответствующих элементов
    аргументов-последовательностей.</p>
</div>
{% endblock %}